.property {
  $breakpoint-500: 500px;
  $breakpoint-mobile: 576px;
  $breakpoint-tablet: 768px;
  $breakpoint-md: 992px;
  .property__bg-common {
    background-color: #fef6e7 !important;
  }
  .property__country {
    @media (min-width: $breakpoint-500) {
      max-width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
