.sign-in-container {
  background-color: red;
  .get-started-container {
    .modal-mobile {
      // position: unset !important;
      max-width: 100% !important;
      .ant-modal-content {
        .ant-modal-body {
          overflow: scroll;
          max-height: 260px;
        }
        .ant-modal-footer {
          margin-top: 40px;
          padding: 0;
          padding-bottom: 32px;
        }
      }
    }

    .modal-desktop {
      .ant-modal-content {
        .ant-modal-footer {
          padding-bottom: $spacing-32;
        }
      }
    }
  }
}

.modal-signin-container {
  height: max-content;
  width: max-content;
  min-height: max-content;
  min-width: max-content;
  .ant-modal-content {
    .ant-modal-body {
      padding: 40px;
      .modal-wrapper {
        .icon {
          display: flex;
          align-items: center;
          width: fit-content;
          margin: auto;
        }
        .header {
          font-family: Recoleta-SemiBold;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 125%;
          letter-spacing: -0.5px;
          color: #001064;
        }
        .content {
          p {
            font-family: Graphik-Light;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: -0.5px;
            color: #6670a2;
            margin-top: $spacing-16;
          }
        }
      }
    }
  }
}
