@import "/styles/spacing-scale.scss";
.based-flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-bar-container {
  font-family: "Graphik-Regular";
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  .navigation-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    .row-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      border-bottom: 1px solid #e5e7ef;
      .row-child-wrapper {
        margin: auto;
        height: 80px;
        width: 95%;
        @extend .based-flex-row;
        justify-content: space-between;
        .logo-will-container {
          width: 40%;
          height: 80px;
          height: 100%;
          display: flex;
          align-items: center;
          .will-container {
            display: flex;
            align-items: center;
            min-height: 68px;
            .will {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: $spacing-16;
            }
          }
        }
        .container-back-mobile {
          width: 40%;
          .container-back-wrap {
            @extend .based-flex-row;
            justify-content: space-between;
          }
        }

        .ant-btn:hover,
        .ant-btn:focus {
          border: 1px solid #001064;
        }
        .back-container {
          width: 30%;
          display: flex;
          align-items: flex-end;
          height: 100%;
          justify-content: space-between;
          .back-wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            float: right;

            margin-left: auto;
          }
        }
      }
    }
    .back {
      margin-right: $spacing-16;
      color: #a0a5be;
      cursor: pointer;
      margin-left: auto;
    }
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 16, 102, 0.2);
}

.container-mobile {
  height: 60px;
}

.height-80 {
  height: 80px !important;
}

.height-150 {
  height: 150px !important;
}


.height-100 {
  height: 100px !important;
}

