.custom-button {
  width: 100%;
  .border-large {
    border-width: 2px !important;
  }
  .font-weight-large {
    font-weight: 900 !important;
  }
  .ant-btn {
    color: #6670a2;
    border: 1px solid #6670a2;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 100%;
    min-width: 104px;
    height: 46px;
    padding: 10px 24px 11px;
    font-size: 20px;
    font-family: Graphik-Regular;
    font-weight: 400;
    &:hover,
    &:focus {
      outline: unset;
    }
    &:hover {
      color: #001064;
      border-color: #001064;
      box-shadow: 0px 8px 10px rgba(0, 22, 136, 0.16);
    }
    &:active {
      color: #ffffff;
      background: #001064;
      box-shadow: 0px 8px 10px rgba(0, 22, 136, 0.16);
    }
    &:disabled {
      border-color: #c3c5d2;
      color: #c3c5d2;
      &:hover {
        background-color: #fff;
        box-shadow: none;
      }
    }
    [ant-click-animating-without-extra-node="true"]::after,
    // .ant-click-animating-node {
    //   --antd-wave-shadow-color: red;
    // }
    svg {
      margin-right: 8px;
    }
  }
  .ant-btn-lg {
    min-width: 110px;
    height: 60px;
    padding: 17px 24px 18px;
    font-size: 20px;
  }

  .ant-btn-primary {
    color: #001064;
    background-color: #eef3ff;
    border: none;
  }

  .ant-btn-dashed,
  .ant-btn-ghost {
    box-shadow: 0px 8px 10px rgba(0, 22, 136, 0.16);
  }

  .ant-btn-ghost {
    color: #fff;
    background: #00199e;
    border: none;
    &:hover {
      color: #fff;
      background: #00199e;
      border: none;
    }
    &:active {
      color: #ffffff;
      background: #001064;
      border-color: #001064;
    }
  }

  .ant-btn-dashed {
    color: #ffffff;
    background: #17c67e;
    border-color: #17c67e;
    &:hover {
      color: #ffffff;
      background: #17c67e;
      border-color: #17c67e;
    }
    &:active {
      color: #ffffff;
      background: #001064;
      border-color: #001064;
    }
  }

  .ant-btn-dangerous {
    color: #ff6868;
    background: #fff;
    border: 1px solid #ff6868;
    // box-shadow: unset;
    &:hover,
    &:active {
      color: #fb3640;
      border: 1px solid #fb3640;
      background: #fff;
      box-shadow: none;
    }
  }
}
