.custom-toggle {
  display: flex;
  justify-content: space-between;
  padding: 18px 16px;
  width: 100%;
  height: 60px;
  background-color: #eef3ff;
  border-radius: 8px;

  $breakpoint-mobile: 600px;
  @media (max-width: $breakpoint-mobile) {
    width: 311px;
  }

  .show-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .show-details_text {
      font-family: Graphik-Regular;
      font-size: 16px;
      margin-right: 9.5px;
      $breakpoint-mobile: 600px;
      @media (max-width: $breakpoint-mobile) {
        font-size: 14px;
      }
    }

    .show-details_icon {
      color: #001064;
      svg {
        width: 18px;
        height: 18px;
      }
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
  }

  .ant-switch-checked {
    background-color: #00199e !important;
    .ant-switch-handle {
      left: calc(100% - 20px - 4px) !important;
    }
  }

  .ant-switch {
    background-color: #d3e1ff;
    width: 52px;
    height: 28px;
    .ant-switch-handle {
      top: 4px;
      left: 4px;
      width: 20px;
      height: 20px;
      &::before {
        border-radius: 10px;
      }
    }
  }
}
