.input-field-container,
.select-field-container {
  font-family: Graphik-Regular;
  width: 100%;
  height: 100%;
  .paragraph-3 {
    font-family: Graphik-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: -0.5px;
    color: #001064;
  }
  .label-input-field {
    margin-bottom: 16px;
  }
  .input-field {
    font-family: Graphik-Regular;
    background: #ffffff;
    border: 1px solid #c3c5d2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    line-height: 155%;
    padding: 10px 20px 11px 20px;
    color: #6670a2;
    width: 100%;
  }
  input::placeholder {
    color: #c3c5d2;
  }

  .typing {
    border: 1px solid #001064;
    box-sizing: border-box;
  }
  .box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 16, 100, 0.15);
  }
  .disabled {
    background: #eef3ff;
  }

  .error {
    border: 1px solid #fb3640;
    color: #fb3640;
  }

  .support-text {
    color: #a0a5be;
    font-size: 14px;
    line-height: 155%;
    margin-top: 16px;
  }
  .ant-select {
    width: 100%;
    .ant-select-selector {
      width: 100%;
      font-family: Graphik-Regular;
      background: #ffffff;
      border: 1px solid #c3c5d2;
      box-sizing: border-box;
      border-radius: 8px;
      height: 46px;
      font-size: 16px;
      line-height: 155%;
      padding: 8px 20px 11px 17px;
      color: #6670a2;
    }
  }
  .ant-select,
  .ant-select-single,
  .ant-select-show-arrow {
    border: none;
    border-radius: 8px;
  }

  .ant-select:hover {
    border: none;
  }
  .ant-select-focused:active,
  .ant-select-focused:focus,
  .ant-select-open:active,
  .ant-select-open:focus {
    border: none;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #001064;
    box-shadow: 0px 4px 4px rgba(0, 16, 100, 0.15);
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 16, 100, 0.15);
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: 1px solid #001064;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 16, 100, 0.15);
  }
  .border-color {
    border-color: #001064;
  }
  .ant-select-arrow {
    // padding: 20px 20px 20px 0px;
    margin-top: -7px;
    margin-right: 20px;
  }
  .btn-search {
    background: #e5e7ef;
    border-radius: 8px;
    height: 46px;
    width: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon-wrapper {
      svg {
        margin-left: 0px;
        margin-right: 13px;
      }
    }
    span {
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.5px;
      color: #a0a5be;
    }
  }
  .searchable-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .input {
      width: 70%;
    }
  }
}
