.based-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.based-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personal-form-input-container {
  background: #ffffff;
  border: 2px solid #001064;
  box-sizing: border-box;
  box-shadow: 0px 15px 30px rgba(0, 16, 100, 0.1);
  border-radius: 14px;
  .personal-form-input-wrapper {
    width: 90%;
    margin: auto;
    .based-flex-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .legal-name,
  .email,
  .passport {
    margin-top: 32px;
  }
  .address {
    margin-top: 27px;
  }
  .address-line,
  .unit-number {
    margin-top: 16px;
  }
  .btn-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    .btn-wrapper {
      margin-bottom: $spacing-32;
      width: fit-content;
      @extend .based-flex-row;
      .btn-undo {
        height: 46px !important;
        width: 125px;
        margin-right: $spacing-24;
      }

      .btn-icon {
        display: flex;
        width: 20px;
        height: 18px;
        flex: 1;
        margin-right: -5px;
      }
      .btn-save-icon {
        width: 34px;
        height: 24px;
        display: flex;
        margin-top: 2px;
      }
    }
  }

  .mgt-40 {
    margin-top: 40px;
  }

  .mgt-32 {
    margin-top: 32px;
  }


}

.personal-form-input-container-desktop {
  width: 480px;
  height: 835px;
  margin-left: 24px;
}

.personal-form-input-container-mobile {
  width: 92%;
  height: 900px !important;
  margin-top: 24px;
}
