.about-us {
  .home-secure{
    margin-top: 0px !important;
  }
  .au-header {
    padding-top: 113px;
    background-image: url("/images/background-about.svg");
    text-align: center;
    .header-title {
      color: #001066;
    }
    .header-description {
      margin-left: auto;
      margin-right: auto;
      color: #001064;
    }
  }
  .au-content {
    padding-top: 151px;
    padding-left: 130px;
    padding-right: 130px;
    .au-content-section {
      svg {
        max-width: 100%;
      }
      padding-bottom: 150px;
      .ant-row {
        width: 100%;
        justify-content: center;
      }
    }
    .au-content__title {
      font-family: "Recoleta";
      color: #001064;
      font-weight: 500;
      font-size: 42px;
    }
    .au-content__sub-title {
      color: #001064;
      font-weight: 500;
      font-size: 22px;
    }
    .au-content__sub-desc {
      color: #001064;
      font-weight: 500;
      font-size: 16px;
      padding-bottom: 17px;
      font-family: "Graphik";
    }
  }
  .maker-color {
    background-color: #f5d8be;
  }
}

@media only screen and (max-width: 780px) {
  .about-us .au-content {
    padding: 0px;
    padding-left: 17px;
  }
}
.section-action {
  background-color: #e9f7ff;
}
.home-5168517 {
  padding-top: 130px;
  h3 {
    max-width: 860px;

    display: block;
    margin: auto;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.5px;
    color: #001064;
    text-align: center;
    margin-bottom: 70px;
  }
  .list-benefit {
    // padding: 0 10%;
    .ant-col.ant-col-md-12.ant-col-xl-6 {
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
    }
  }
}

@media (max-width: 576px) {
  .about-us {
    .list-benefit {
      justify-content: center;
    }
  }
}

.img-about{
  width: 100%;
}