//colours
$primary-blue: #001064;
$secondary-blue : #00199E;
$background-blue : #EEF3FF;

// system greys

$grey-01 : #2E3B7E;
$grey-02 : #6670A2;
$grey-03 : #A0A5BE;
$grey-04 : #C3C5D2;
$grey-05 : #E5E7EF;


// post it

$yello-dark : #FFBA69;
$red-dark : #FF6868;
$green-dark : #55DBA4;
$sky-dark : #84CAFF;
$blue-dark : #6C9BFF;
$purple-dark : #AA8CFF;

$yello-mid : #FFE9BE;
$red-mid : #FFD9D1;
$green-mid : #BAF0DF;
$sky-mid : #D3EDFF;
$blue-mid : #D3E1FF;
$purple-mid : #DED3FF;

$yello-light : #FEF6E7;
$red-light : #FFEDE9;
$green-light : #E9FAF4;
$sky-light : #E9F7FF;
$blue-light : #E9F0FF;
$purple-light : #F3EEFF;

// status
$successful-dark : #17C67E;
$successful-light : #17C67E;

$failed-dark : #FB3640;
$failed-light : #FFEBEC;