h1.ant-typography, .ant-typography h1 {
    font-family: Recoleta;
    font-weight: 400;
    font-size: 64px;
}

h2.ant-typography, .ant-typography h2 {
    font-family: Recoleta-Medium;
    font-size: 56px;
    font-weight: 400;
}


h3.ant-typography, .ant-typography h3 {
    font-family: Recoleta-Medium;
    font-size: 56px;
    font-weight: 400;
}

h3.ant-typography, .ant-typography h3 {
    font-family: Recoleta-Medium;
    font-size: 48px;
    font-weight: 400;
}


h4.ant-typography, .ant-typography h4 {
    font-family: Recoleta-Medium;
    font-size: 40px;
    font-weight: 400;
}

h5.ant-typography, .ant-typography h5 {
    font-family: Recoleta-Medium;
    font-size: 36px;
    font-weight: 400;
}
body{
    section.ant-layout{
        background-color: white;
    }
}


