@font-face {
    font-family: Recoleta;
    src: url('/fonts/Recoleta/Recoleta-Regular.ttf');
}


@font-face {
    font-family: Recoleta-Black;
    src: url('/fonts/Recoleta/Recoleta-Regular.ttf');
    src: url('/fonts/Recoleta/Recoleta-Black.ttf');
}


@font-face {
    font-family: Recoleta-Bold;
    src: url('/fonts/Recoleta/Recoleta-Bold.ttf');
}


@font-face {
    font-family: Recoleta-Light;
    src: url('/fonts/Recoleta/Recoleta-Light.ttf');
}

@font-face {
    font-family: Recoleta-Medium;
    src: url('/fonts/Recoleta/Recoleta-Medium.ttf');
}


@font-face {
    font-family: Recoleta-SemiBold;
    src: url('/fonts/Recoleta/Recoleta-SemiBold.ttf');
}

